.btn-margin {
  margin-left: 15px;
}
.mycard{
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.myCont {
  margin-bottom: 30px;
}

.container {
  min-height: 65vh;
}


button {
  margin-top: auto;
}


.destination {
  margin-bottom: 70px;
}

.findFalconeButtons {
  padding-left: 1%;
  padding-right: 1%;
}